In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
# import arcpy 
import os

In [3]:
income_path = r"US Median Household Income by County.csv" 
degree_path = r"US Population with Bachelor's Degree by Bachelors.csv"
print(os.path.exists(income_path), os.path.exists(degree_path))

True True

## Income Cleaning

In [4]:
income_df = pd.read_csv(income_path, skiprows=4)
income_df.head(10)

,County,FIPS,Value (Dollars),Rank within US (of 3142 counties)
0,United States,0.0,"75,149",NaN
1,"Issaquena County, Mississippi",28055.0,"17,900","3,142"
2,Puerto Rico,72001.0,"24,002","3,141"
3,"Randolph County, Georgia",13243.0,"24,638","3,140"
4,"Jackson County, South Dakota",46071.0,"26,078","3,139"
5,"Dimmit County, Texas",48127.0,"27,374","3,138"
6,"McDowell County, West Virginia",54047.0,"28,235","3,137"
7,"Wolfe County, Kentucky",21237.0,"28,666","3,136"
8,"Holmes County, Mississippi",28051.0,"28,818","3,135"
9,"Presidio County, Texas",48377.0,"29,012","3,134"

Pop the `United States` row.

In [5]:
income_co_df = income_df.drop(index=0)
income_co_df.head(10)

,County,FIPS,Value (Dollars),Rank within US (of 3142 counties)
1,"Issaquena County, Mississippi",28055.0,"17,900","3,142"
2,Puerto Rico,72001.0,"24,002","3,141"
3,"Randolph County, Georgia",13243.0,"24,638","3,140"
4,"Jackson County, South Dakota",46071.0,"26,078","3,139"
5,"Dimmit County, Texas",48127.0,"27,374","3,138"
6,"McDowell County, West Virginia",54047.0,"28,235","3,137"
7,"Wolfe County, Kentucky",21237.0,"28,666","3,136"
8,"Holmes County, Mississippi",28051.0,"28,818","3,135"
9,"Presidio County, Texas",48377.0,"29,012","3,134"
10,"Brooks County, Texas",48047.0,"30,566","3,133"

Split the `County` column into `County_name` and `State`.

In [6]:
test_string = "stupid, boy"
print(test_string.split(", ")[0])
print(test_string.split(", ")[1])
print(len(test_string.split(", ")))

stupid
boy
2

In [7]:
for i, row in income_co_df.iterrows():
  parts = row['County'].split(", ")
  if len(parts) >1:
    income_co_df.at[i, 'County_Name'] = parts[0]
    income_co_df.at[i, "State"] = parts[1]
  else:
    income_co_df.at[i, "State"] = parts[0]

In [8]:
income_co_df.head(10)

,County,FIPS,Value (Dollars),Rank within US (of 3142 counties),County_Name,State
1,"Issaquena County, Mississippi",28055.0,"17,900","3,142",Issaquena County,Mississippi
2,Puerto Rico,72001.0,"24,002","3,141",NaN,Puerto Rico
3,"Randolph County, Georgia",13243.0,"24,638","3,140",Randolph County,Georgia
4,"Jackson County, South Dakota",46071.0,"26,078","3,139",Jackson County,South Dakota
5,"Dimmit County, Texas",48127.0,"27,374","3,138",Dimmit County,Texas
6,"McDowell County, West Virginia",54047.0,"28,235","3,137",McDowell County,West Virginia
7,"Wolfe County, Kentucky",21237.0,"28,666","3,136",Wolfe County,Kentucky
8,"Holmes County, Mississippi",28051.0,"28,818","3,135",Holmes County,Mississippi
9,"Presidio County, Texas",48377.0,"29,012","3,134",Presidio County,Texas
10,"Brooks County, Texas",48047.0,"30,566","3,133",Brooks County,Texas

In [9]:
income_co_df = income_co_df.drop(income_co_df.tail(8).index)

In [10]:
income_co_df.tail(10)

,County,FIPS,Value (Dollars),Rank within US (of 3142 counties),County_Name,State
3134,"Nassau County, New York",36059.0,"137,709",9,Nassau County,New York
3135,"Douglas County, Colorado",8035.0,"139,010",8,Douglas County,Colorado
3136,"Howard County, Maryland",24027.0,"140,971",7,Howard County,Maryland
3137,"Marin County, California",6041.0,"142,019",6,Marin County,California
3138,"Fairfax County, Virginia",51059.0,"145,165",5,Fairfax County,Virginia
3139,"San Mateo County, California",6081.0,"149,907",4,San Mateo County,California
3140,"Santa Clara County, California",6085.0,"153,792",3,Santa Clara County,California
3141,"Falls Church City, Virginia",51610.0,"164,536",2,Falls Church City,Virginia
3142,"Loudoun County, Virginia",51107.0,"170,463",1,Loudoun County,Virginia
3143,"Loving County, Texas",48301.0,data not available,NaN,Loving County,Texas

In [11]:
income_co_df['FIPS'] = income_co_df['FIPS'].astype(np.int32)
income_co_df.head(10)

,County,FIPS,Value (Dollars),Rank within US (of 3142 counties),County_Name,State
1,"Issaquena County, Mississippi",28055,"17,900","3,142",Issaquena County,Mississippi
2,Puerto Rico,72001,"24,002","3,141",NaN,Puerto Rico
3,"Randolph County, Georgia",13243,"24,638","3,140",Randolph County,Georgia
4,"Jackson County, South Dakota",46071,"26,078","3,139",Jackson County,South Dakota
5,"Dimmit County, Texas",48127,"27,374","3,138",Dimmit County,Texas
6,"McDowell County, West Virginia",54047,"28,235","3,137",McDowell County,West Virginia
7,"Wolfe County, Kentucky",21237,"28,666","3,136",Wolfe County,Kentucky
8,"Holmes County, Mississippi",28051,"28,818","3,135",Holmes County,Mississippi
9,"Presidio County, Texas",48377,"29,012","3,134",Presidio County,Texas
10,"Brooks County, Texas",48047,"30,566","3,133",Brooks County,Texas

In [12]:
# income_co_df.to_csv(r"./US Median Household Income by County Cleaned.csv")

## Degree Cleaning

In [13]:
degree_df = pd.read_csv(degree_path, skiprows=4)
degree_df.head(10)

,County,FIPS,Value (Percent),People (Education: At Least Bachelor's Degree),Rank within US (of 3143 counties)
0,United States,0.0,34.3,77751347.0,NaN
1,"Loving County, Texas",48301.0,0.0,0.0,"3,143"
2,"Kusilvak Census Area, Alaska",2158.0,4.6,186.0,"3,142"
3,"Issaquena County, Mississippi",28055.0,5.2,54.0,"3,141"
4,"La Salle County, Texas",48283.0,5.4,243.0,"3,140"
5,"Carroll County, Kentucky",21041.0,5.8,410.0,"3,139"
6,"McDowell County, West Virginia",54047.0,6.6,917.0,"3,138"
7,"Newton County, Texas",48351.0,6.8,593.0,"3,137"
8,"McCreary County, Kentucky",21147.0,6.8,804.0,"3,136"
9,"Buffalo County, South Dakota",46017.0,6.8,62.0,"3,135"

In [14]:
degree_co_df = degree_df.drop(index=0)
degree_co_df.head(10)

,County,FIPS,Value (Percent),People (Education: At Least Bachelor's Degree),Rank within US (of 3143 counties)
1,"Loving County, Texas",48301.0,0.0,0.0,"3,143"
2,"Kusilvak Census Area, Alaska",2158.0,4.6,186.0,"3,142"
3,"Issaquena County, Mississippi",28055.0,5.2,54.0,"3,141"
4,"La Salle County, Texas",48283.0,5.4,243.0,"3,140"
5,"Carroll County, Kentucky",21041.0,5.8,410.0,"3,139"
6,"McDowell County, West Virginia",54047.0,6.6,917.0,"3,138"
7,"Newton County, Texas",48351.0,6.8,593.0,"3,137"
8,"McCreary County, Kentucky",21147.0,6.8,804.0,"3,136"
9,"Buffalo County, South Dakota",46017.0,6.8,62.0,"3,135"
10,"Wolfe County, Kentucky",21237.0,7.0,316.0,"3,134"

In [15]:
degree_co_df.tail(6)

,County,FIPS,Value (Percent),People (Education: At Least Bachelor's Degree),Rank within US (of 3143 counties)
3144,Suggested Citation:,NaN,NaN,NaN,NaN
3145,HDPulse: An Ecosystem of Minority Health and H...,NaN,NaN,NaN,NaN
3146,Notes:,NaN,NaN,NaN,NaN
3147,Source: Demographic data provided by the Censu...,NaN,NaN,NaN,NaN
3148,For more information about Education (At least...,NaN,NaN,NaN,NaN
3149,Note: This website still uses Connecticut coun...,NaN,NaN,NaN,NaN

In [16]:
degree_co_df = degree_co_df.drop(degree_co_df.tail(6).index)
degree_co_df.tail(10)

,County,FIPS,Value (Percent),People (Education: At Least Bachelor's Degree),Rank within US (of 3143 counties)
3134,"New York County, New York",36061.0,62.8,795444.0,10
3135,"Pitkin County, Colorado",8097.0,63.1,8519.0,9
3136,"Boulder County, Colorado",8013.0,63.2,137729.0,8
3137,"Loudoun County, Virginia",51107.0,63.5,173221.0,7
3138,"Howard County, Maryland",24027.0,64.0,144190.0,6
3139,"Fairfax County, Virginia",51059.0,64.1,501649.0,5
3140,"Alexandria City, Virginia",51510.0,66.0,78982.0,4
3141,"Los Alamos County, New Mexico",35028.0,69.7,9674.0,3
3142,"Arlington County, Virginia",51013.0,76.8,132890.0,2
3143,"Falls Church City, Virginia",51610.0,78.9,7660.0,1

In [17]:
for i, row in degree_co_df.iterrows():
  parts = row['County'].split(", ")
  if len(parts) >1:
    degree_co_df.at[i, 'County_Name'] = parts[0]
    degree_co_df.at[i, "State"] = parts[1]
  else:
    degree_co_df.at[i, "State"] = parts[0]

In [18]:
income_co_df.head(10)

,County,FIPS,Value (Dollars),Rank within US (of 3142 counties),County_Name,State
1,"Issaquena County, Mississippi",28055,"17,900","3,142",Issaquena County,Mississippi
2,Puerto Rico,72001,"24,002","3,141",NaN,Puerto Rico
3,"Randolph County, Georgia",13243,"24,638","3,140",Randolph County,Georgia
4,"Jackson County, South Dakota",46071,"26,078","3,139",Jackson County,South Dakota
5,"Dimmit County, Texas",48127,"27,374","3,138",Dimmit County,Texas
6,"McDowell County, West Virginia",54047,"28,235","3,137",McDowell County,West Virginia
7,"Wolfe County, Kentucky",21237,"28,666","3,136",Wolfe County,Kentucky
8,"Holmes County, Mississippi",28051,"28,818","3,135",Holmes County,Mississippi
9,"Presidio County, Texas",48377,"29,012","3,134",Presidio County,Texas
10,"Brooks County, Texas",48047,"30,566","3,133",Brooks County,Texas

In [19]:
income_co_df['FIPS'] = income_co_df['FIPS'].astype(np.int32)
income_co_df.head(10)

,County,FIPS,Value (Dollars),Rank within US (of 3142 counties),County_Name,State
1,"Issaquena County, Mississippi",28055,"17,900","3,142",Issaquena County,Mississippi
2,Puerto Rico,72001,"24,002","3,141",NaN,Puerto Rico
3,"Randolph County, Georgia",13243,"24,638","3,140",Randolph County,Georgia
4,"Jackson County, South Dakota",46071,"26,078","3,139",Jackson County,South Dakota
5,"Dimmit County, Texas",48127,"27,374","3,138",Dimmit County,Texas
6,"McDowell County, West Virginia",54047,"28,235","3,137",McDowell County,West Virginia
7,"Wolfe County, Kentucky",21237,"28,666","3,136",Wolfe County,Kentucky
8,"Holmes County, Mississippi",28051,"28,818","3,135",Holmes County,Mississippi
9,"Presidio County, Texas",48377,"29,012","3,134",Presidio County,Texas
10,"Brooks County, Texas",48047,"30,566","3,133",Brooks County,Texas

In [20]:
# income_co_df.to_csv(r"./US Population with Bachelor's Degree by County Cleaned.csv")

## US Counties Shapefile.

In [23]:
import geopandas as gpd

In [22]:
counties_path = r"US Counties.shp"
print(os.path.exists(counties_path))

True

In [24]:
counties_df = gpd.read_file(counties_path)
counties_df.head(10)

,STATE,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,Shape_Leng,Shape_Area,FIPS_INT,geometry
0,ME,CAR,Washington,23029,E,se,-67.6361,45.0363,15.828314,0.820504,23029,"MULTIPOLYGON (((-67.93539 44.40382, -67.93643 ..."
1,GA,CHS,McIntosh,13191,E,se,-81.2646,31.5329,2.696162,0.007127,13191,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ..."
2,GA,CHS,Liberty,13179,E,se,-81.2103,31.7093,0.914666,0.003073,13179,"POLYGON ((-81.30807 31.79454, -81.30546 31.791..."
3,AS,PPG,Swains Island,60040,S,None,-171.0802,-11.0548,0.044075,0.000067,60040,"POLYGON ((-171.07475 -11.05295, -171.07366 -11..."
4,AS,PPG,Manu'a,60020,S,None,-169.5060,-14.2219,0.577594,0.004833,60020,"MULTIPOLYGON (((-169.60973 -14.15779, -169.609..."
5,AS,PPG,Western,60050,S,None,-170.7691,-14.3241,0.585819,0.005901,60050,"MULTIPOLYGON (((-170.77310 -14.36245, -170.773..."
6,AS,PPG,Eastern,60010,S,None,-170.6596,-14.2763,0.879360,0.006260,60010,"MULTIPOLYGON (((-170.65149 -14.28961, -170.651..."
7,PR,SJU,Anasco,72011,V,None,-67.1221,18.2870,0.481763,0.009170,72011,"POLYGON ((-67.12090 18.32391, -67.11850 18.322..."
8,PR,SJU,Arroyo,72015,V,None,-66.0563,17.9982,0.267869,0.003329,72015,"POLYGON ((-66.03294 17.96652, -66.03523 17.961..."
9,PR,SJU,Barceloneta,72017,V,None,-66.5605,18.4454,0.410663,0.004145,72017,"MULTIPOLYGON (((-66.54725 18.48724, -66.54745 ..."

In [29]:
counties_df['FIPS'] = counties_df['FIPS'].astype(np.int32)
counties_df.head(10)

,STATE,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,Shape_Leng,Shape_Area,FIPS_INT,geometry
0,ME,CAR,Washington,23029,E,se,-67.6361,45.0363,15.828314,0.820504,23029,"MULTIPOLYGON (((-67.93539 44.40382, -67.93643 ..."
1,GA,CHS,McIntosh,13191,E,se,-81.2646,31.5329,2.696162,0.007127,13191,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ..."
2,GA,CHS,Liberty,13179,E,se,-81.2103,31.7093,0.914666,0.003073,13179,"POLYGON ((-81.30807 31.79454, -81.30546 31.791..."
3,AS,PPG,Swains Island,60040,S,None,-171.0802,-11.0548,0.044075,0.000067,60040,"POLYGON ((-171.07475 -11.05295, -171.07366 -11..."
4,AS,PPG,Manu'a,60020,S,None,-169.5060,-14.2219,0.577594,0.004833,60020,"MULTIPOLYGON (((-169.60973 -14.15779, -169.609..."
5,AS,PPG,Western,60050,S,None,-170.7691,-14.3241,0.585819,0.005901,60050,"MULTIPOLYGON (((-170.77310 -14.36245, -170.773..."
6,AS,PPG,Eastern,60010,S,None,-170.6596,-14.2763,0.879360,0.006260,60010,"MULTIPOLYGON (((-170.65149 -14.28961, -170.651..."
7,PR,SJU,Anasco,72011,V,None,-67.1221,18.2870,0.481763,0.009170,72011,"POLYGON ((-67.12090 18.32391, -67.11850 18.322..."
8,PR,SJU,Arroyo,72015,V,None,-66.0563,17.9982,0.267869,0.003329,72015,"POLYGON ((-66.03294 17.96652, -66.03523 17.961..."
9,PR,SJU,Barceloneta,72017,V,None,-66.5605,18.4454,0.410663,0.004145,72017,"MULTIPOLYGON (((-66.54725 18.48724, -66.54745 ..."

In [30]:
income_counties_merge = counties_df.merge(income_co_df, on="FIPS")
income_counties_merge.head(10)

,STATE,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,Shape_Leng,Shape_Area,FIPS_INT,geometry,County,Value (Dollars),Rank within US (of 3142 counties),County_Name,State
0,ME,CAR,Washington,23029,E,se,-67.6361,45.0363,15.828314,0.820504,23029,"MULTIPOLYGON (((-67.93539 44.40382, -67.93643 ...","Washington County, Maine","51,669","2,428",Washington County,Maine
1,GA,CHS,McIntosh,13191,E,se,-81.2646,31.5329,2.696162,0.007127,13191,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ...","McIntosh County, Georgia","51,262","2,450",McIntosh County,Georgia
2,GA,CHS,Liberty,13179,E,se,-81.2103,31.7093,0.914666,0.003073,13179,"POLYGON ((-81.30807 31.79454, -81.30546 31.791...","Liberty County, Georgia","55,149","2,148",Liberty County,Georgia
3,PR,SJU,Adjuntas,72001,V,None,-66.7542,18.1798,0.567615,0.014880,72001,"POLYGON ((-66.78000 18.24901, -66.77780 18.247...",Puerto Rico,"24,002","3,141",NaN,Puerto Rico
4,CT,BOX,Hartford,9003,E,nn,-72.7328,41.8064,2.597188,0.210618,9003,"POLYGON ((-72.89799 42.03781, -72.86250 42.037...","Hartford County, Connecticut","86,612",253,Hartford County,Connecticut
5,CT,BOX,Tolland,9013,E,nn,-72.3365,41.8550,1.813826,0.117079,9013,"POLYGON ((-72.50919 42.03411, -72.48330 42.033...","Tolland County, Connecticut","99,264",126,Tolland County,Connecticut
6,CT,BOX,Windham,9015,E,nn,-71.9875,41.8299,1.755039,0.146392,9015,"POLYGON ((-72.06350 42.02731, -72.04250 42.027...","Windham County, Connecticut","75,513",558,Windham County,Connecticut
7,MA,BOX,Nantucket,25019,E,se,-70.0744,41.2781,1.544971,0.013687,25019,"MULTIPOLYGON (((-70.01939 41.36642, -70.00768 ...","Nantucket County, Massachusetts","135,590",13,Nantucket County,Massachusetts
8,MD,LWX,Garrett,24023,E,ww,-79.2739,39.5286,2.040556,0.177946,24023,"POLYGON ((-78.99060 39.72251, -78.93130 39.722...","Garrett County, Maryland","64,447","1,248",Garrett County,Maryland
9,VT,BTV,Windsor,50027,E,ss,-72.5855,43.5798,3.256356,0.281929,50027,"POLYGON ((-72.78460 43.93621, -72.77910 43.934...","Windsor County, Vermont","69,492",870,Windsor County,Vermont

In [31]:
degree_counties_merge = counties_df.merge(degree_co_df, on="FIPS")
degree_counties_merge.head(10)

,STATE,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,Shape_Leng,Shape_Area,FIPS_INT,geometry,County,Value (Percent),People (Education: At Least Bachelor's Degree),Rank within US (of 3143 counties),County_Name,State
0,ME,CAR,Washington,23029,E,se,-67.6361,45.0363,15.828314,0.820504,23029,"MULTIPOLYGON (((-67.93539 44.40382, -67.93643 ...","Washington County, Maine",24.6,5667.0,"1,073",Washington County,Maine
1,GA,CHS,McIntosh,13191,E,se,-81.2646,31.5329,2.696162,0.007127,13191,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ...","McIntosh County, Georgia",17.8,1590.0,"2,149",McIntosh County,Georgia
2,GA,CHS,Liberty,13179,E,se,-81.2103,31.7093,0.914666,0.003073,13179,"POLYGON ((-81.30807 31.79454, -81.30546 31.791...","Liberty County, Georgia",20.2,7635.0,"1,688",Liberty County,Georgia
3,PR,SJU,Adjuntas,72001,V,None,-66.7542,18.1798,0.567615,0.014880,72001,"POLYGON ((-66.78000 18.24901, -66.77780 18.247...",Puerto Rico,28.3,678451.0,763,NaN,Puerto Rico
4,CT,BOX,Hartford,9003,E,nn,-72.7328,41.8064,2.597188,0.210618,9003,"POLYGON ((-72.89799 42.03781, -72.86250 42.037...","Hartford County, Connecticut",40.0,250746.0,229,Hartford County,Connecticut
5,CT,BOX,Tolland,9013,E,nn,-72.3365,41.8550,1.813826,0.117079,9013,"POLYGON ((-72.50919 42.03411, -72.48330 42.033...","Tolland County, Connecticut",43.4,43403.0,165,Tolland County,Connecticut
6,CT,BOX,Windham,9015,E,nn,-71.9875,41.8299,1.755039,0.146392,9015,"POLYGON ((-72.06350 42.02731, -72.04250 42.027...","Windham County, Connecticut",24.6,19980.0,"1,083",Windham County,Connecticut
7,MA,BOX,Nantucket,25019,E,se,-70.0744,41.2781,1.544971,0.013687,25019,"MULTIPOLYGON (((-70.01939 41.36642, -70.00768 ...","Nantucket County, Massachusetts",57.4,5704.0,33,Nantucket County,Massachusetts
8,MD,LWX,Garrett,24023,E,ww,-79.2739,39.5286,2.040556,0.177946,24023,"POLYGON ((-78.99060 39.72251, -78.93130 39.722...","Garrett County, Maryland",24.6,5279.0,"1,075",Garrett County,Maryland
9,VT,BTV,Windsor,50027,E,ss,-72.5855,43.5798,3.256356,0.281929,50027,"POLYGON ((-72.78460 43.93621, -72.77910 43.934...","Windsor County, Vermont",40.8,17709.0,212,Windsor County,Vermont

In [32]:
income_counties_merge.to_file("US Median Household Income by County Cleaned.shp")
degree_counties_merge.to_file("US Population with Bachelor's Degree by County Cleaned.shp")

C:\Users\96653\AppData\Local\Temp\ipykernel_6764\2438288821.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  income_counties_merge.to_file("US Median Household Income by County Cleaned.shp")
C:\Users\96653\AppData\Local\Temp\ipykernel_6764\2438288821.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  degree_counties_merge.to_file("US Population with Bachelor's Degree by County Cleaned.shp")

In [33]:
income_counties_merge_df = pd.DataFrame(income_counties_merge.drop(columns='geometry'))
degree_counties_merge_df = pd.DataFrame(degree_counties_merge.drop(columns='geometry'))

In [34]:
income_counties_merge_df.head(5)

,STATE,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,Shape_Leng,Shape_Area,FIPS_INT,County,Value (Dollars),Rank within US (of 3142 counties),County_Name,State
0,ME,CAR,Washington,23029,E,se,-67.6361,45.0363,15.828314,0.820504,23029,"Washington County, Maine","51,669","2,428",Washington County,Maine
1,GA,CHS,McIntosh,13191,E,se,-81.2646,31.5329,2.696162,0.007127,13191,"McIntosh County, Georgia","51,262","2,450",McIntosh County,Georgia
2,GA,CHS,Liberty,13179,E,se,-81.2103,31.7093,0.914666,0.003073,13179,"Liberty County, Georgia","55,149","2,148",Liberty County,Georgia
3,PR,SJU,Adjuntas,72001,V,None,-66.7542,18.1798,0.567615,0.014880,72001,Puerto Rico,"24,002","3,141",NaN,Puerto Rico
4,CT,BOX,Hartford,9003,E,nn,-72.7328,41.8064,2.597188,0.210618,9003,"Hartford County, Connecticut","86,612",253,Hartford County,Connecticut

In [35]:
income_counties_merge.to_csv(r"./US Median Household Income by County Cleaned.csv")
degree_counties_merge_df.to_csv(r"./US Population with Bachelor's Degree by County Cleaned.csv")

## Solar Radiation

In [37]:
import rasterio

In [40]:
ghi_path = r"C:\Users\96653\OneDrive - University of Arizona\Documents\DATA 363\Education vs sunny weather\Rasters\Mean_GHI_County.tif"
print(os.path.exists(ghi_path))

True

In [41]:
with rasterio.open(ghi_path) as src:
  solar_data = src.read(1)

In [42]:
counties_df = counties_df.to_crs(src.crs)

In [43]:
from rasterstats import zonal_stats

In [44]:
stats = zonal_stats(counties_df, solar_data, affine=src.transform, stats=['mean'])
counties_df['GHI'] = [s['mean'] for s in stats]

c:\Users\96653\anaconda3\envs\data_363\Lib\site-packages\rasterstats\io.py:335: NodataWarning: Setting nodata to -999; specify nodata explicitly
  warnings.warn(

In [46]:
ghi_result_df = pd.DataFrame({
    'County': counties_df['COUNTYNAME'],
    'FIPS': counties_df['FIPS'],
    'GHI': counties_df['GHI']
})

In [47]:
ghi_result_df.to_csv('solar_radiation_by_county.csv', index=False)